@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --my-font-family: "Roboto Slab", serif;
  --footer-height: 25vh;
}

.search {
  padding: 5vh 10vw;
}

.search input {
  width: 90%;
  height: 40px;
  font-family: var(--my-font-family);
  font-size: 20px;
  padding: 0 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.search p {
  font-size: 20px;
  font-weight: 300;
}

.search h3 {
  text-align: center;
  margin: 10px 20%;
  border-bottom: 1px solid black;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.search input::placeholder {
  color: black;
}

.align-center {
  text-align: center;
}

.search ul {
  margin: 0 auto;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.search li {
  text-align: center;
}

.search-result {
  margin: 40px 0;
}

.search-result p {
  font-size: 15px;
  font-weight: 200;
  margin: 0;
}

.search-result h5 {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
}

.buffer {
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
}
