@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --my-font-family: "Roboto Slab", serif;
  --footer-height: 25vh;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  :root {
    --footer-height: 20vh;
  }
}

html {
  /*background: linear-gradient(#a4fcd8, white) no-repeat center center fixed;*/
  background-size: cover;
  height: 100%;
  position: relative;
  margin: 0;
}
body {
  font-family: var(--my-font-family);
  color: black;
  font-size: 20px;
  padding: 0;
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
}

.wrapper-content {
  padding-bottom: var(--footer-height);
}

h1 {
  margin: 0;
}

h2 {
}

h3 {
}

p {
  margin: 0;
  font-size: 25px;
  line-height: 1.7;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

a:hover {
  color: #c0095e;
}

/* -------------- NAVBAR ------------ */
.navbar {
  position: relative;
  height: 15vh;
  z-index: 1;
}

#logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3em;
  padding: 0 2.5vw;
}

.navbar ul {
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50vw;
  height: 100%;
  right: 0;
  padding: 0;
}

.navbar li {
  flex-grow: 1;
}

.navbar a {
  text-align: center;
  font-size: 2em;
  color: black;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navbar ul {
    width: 75vw;
  }
  .navbar a {
    font-size: 1.5em;
  }
}

.navbar a:hover {
  color: #c0095e;
}

/* -------------- FOOTER ------------ */

.footer {
  position: relative;
  height: var(--footer-height);
  margin-top: calc((-1) * var(--footer-height));
  width: 100%;
  text-align: center;
}

.footer ul {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 75vw;
  padding: 10px;
}

.footer li {
}

.footer a {
  font-size: 50px;
}

.copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 1.5vh;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .footer ul {
    align-items: center;
    width: 100vw;
    padding: 5px 0;
  }
  .footer a {
    font-size: 40px;
  }
  .footer p {
    font-size: 20px;
  }
}

/* -------------- FEED ------------ */

.feed {
  margin: 25vh 25vw;
}

.feed-item {
  position: relative;
}

.feed-title-block {
  height: 20vh;
  overflow: none;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-column-gap: 20px;
}

.feed img {
  float: left;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.feed-title-text {
  position: relative;
}

.feed h1 {
  font-size: 80px;
}

#feed-date {
  font-size: 15px;
}

.feed p {
}

@media only screen and (max-width: 768px) {
  .feed {
    margin: 5vh 12vw;
  }

  .feed-title-block {
    display: block;
    margin: 0;
    height: max-content;
  }

  .feed img {
    width: 100%;
    height: 100%;
  }

  .feed a {
    margin: 0 auto;
    text-align: center;
  }

  .feed h1 {
    font-size: 50px;
  }

  .feed p {
    font-size: 20px;
  }
}

/* -------------- POST ------------ */
.post {
}

.header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  position: relative;
  display: inline-block;
  transform: translateY(-15vh);
}

.darken-header-image {
  z-index: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7));
}

.header-text {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 5%;
}

.header h1 {
  font-size: 120px;
}

.header h3 {
}

.header button {
  position: absolute;
  bottom: 0;
  font-size: 4em;
  margin-bottom: 1vh;
  transform: translateX(-50%);
  cursor: pointer;
  color: whitesmoke;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.header button:hover {
  color: rgba(255, 255, 255, 0.65);
}

.header a:hover {
  color: orange;
}

.header p {
}

.main {
  margin: 0 25vw 5vh 25vw;
}

.content {
  margin-bottom: 20px;
}

.progress-bar {
  position: fixed;
  margin: 0;
  top: 0;
  width: 0;
  height: 10px;
  background-color: #ee388d;
  display: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .main {
    margin: 0 5vw 3vh 5vw;
  }

  .main p {
    line-height: 1.4;
  }

  .content h1 {
    font-size: 30px;
  }

  .content h2 {
    font-size: 25px;
  }

  .content h3 {
    font-size: 20px;
  }
}
